/* @override http://localhost:3000/stylesheets/style.css */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
	background-color: #e7e7e7;
}
#site, #page, #publication {
	padding-left: 1em;
	padding-right: 1em;
}
#chat pre.aa {
	font-family: Mona, 'IPA MONAPGOTHIC', 'MS PGothic', 'ＭＳ Ｐゴシック', 'MS Pｺﾞｼｯｸ', 'MS Pゴシック', sans-serif;
	font-size: 10px;
	background: transparent;
	-webkit-box-shadow: none;
	/*text-shadow: 1px 1px 1px #ccc;*/
	text-shadow: none;
	color: #333;
}

/* @group site */
#site h1 {
	text-align: right;
	font-size: 12px;
	display: block;
	margin: 0.4em;
}
#site .version {
	font-size: 10px;
	color: #f7a4a3;
}
/* @end */

/* @group page */

/* @group form */

form p {
	margin: 0;
}
#text, #exec {
	width: 95%;
	font-size: 1.4em;
}
#textArea {
	width: 95%;
	height: 4em;
	font-size: 1.4em;
}
.forms {
	position: relative;
	top: -0.6em;
}
.forms ul {
	margin: 0;
	margin-left: 1em;
	padding: 0;
	text-align: left;
}
.forms li {
	z-index: 400;
	position: relative;
	bottom: 1px;
	display: inline;
	-webkit-border-top-left-radius: 0.4em;
	-webkit-border-top-right-radius: 0.4em;
	-moz-border-radius-topleft: 0.4em;
	-moz-border-radius-topright: 0.4em;
	background-color: #cdcdcd;
	padding: 0.2em 0.4em;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.forms li.exec {
	background-color: #f68a83;
}
.forms li a {
	color: #fff;
}
.forms li.disabled, .forms li.disabled.exec {
	z-index: 200;
	background-color: #999;
}
.forms div {
	position: relative;
	z-index: 300;
	padding: 0.4em;
	border-radius: 0.4em;
	background-color: #cdcdcd;
	border: 1px solid #999;
}
.forms div.exec {
	background-color: #f68a83;
}
.forms div.disabled {
	display: none;
}

/* @end */

#chat .chatlog {
	padding: 0.4em;
	margin: 0.4em 0;
	background-color: #8d8d8d;
	border-radius: 0.6em;
	-webkit-box-shadow: 1px 1px 2px #666;
	color: #fffeff;
	text-shadow: 1px 1px 1px #000;
	overflow: auto;
}
#chat img {
	max-width: 100%;
	height: auto;
}
#chat p.error:before {
	content: '[Error] ';
	color: #ea9290;
}
#chat p.error {
	padding: 0.4em;
	margin: 0.4em 0;
	background-color: #d3adb2;
	border-radius: 0.6em;
	-webkit-box-shadow: 1px 1px 2px #666;
	color: #fffeff;
	text-shadow: 1px 1px 1px #666;
	overflow: auto;
}
#chat .eval {
	padding: 0.4em;
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	overflow: auto;
	margin: 1em 0;
}
#chat .eval .expression:before {
	content: "> ";
	font-weight: bold;
	color: #4865d3;
}
#chat .eval .expression {
	color: #6c8bfe;
	overflow: visible;
}
#chat .eval .result.error {
	overflow: visible;
	color: #dd3d67;
}
#chat .window_alert:before {
	content: "[Alert] ";
	color: #8d913d;
}
#chat .window_alert {
	overflow: hidden;
	border-radius: 0.6em;
	background-color: #f4ffbb;
	border: 4px solid #cccc99;
	padding: 0.4em;
}
/* @end */

/* @group publications */
#publication {
	position: fixed;
	bottom: 0.6em;
	right: 0.6em;
	border-radius: 0.6em;
	-webkit-box-shadow: 1px 1px 3px #666;
	text-shadow: 1px 1px 1px #fff;
	background-color: rgba(161,161,161,0.64);
	padding: 0.4em 1em;
}
#publication .count {

}
#publication .status {
	
}
#publication p {
	margin: 0;
}
/* @end */


