/* @override http://localhost:3000/stylesheets/style.css */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}
#site, #page, #publication {
	padding-left: 1em;
	padding-right: 1em;
}

/* @group site */
#site h1 {
	font-size: 12px;
	display: inline;
}
#site .description {
	color: red;
	font-size: 10px;
	display: inline;
}
/* @end */

/* @group page */

/* @group form */

form p {
	margin: 0;
}
#text {
	width: 95%;
}
#textArea {
	width: 95%;
	height: 3em;
}
.forms {
	position: relative;
	top: -0.6em;
}
.forms ul {
	margin: 0;
	margin-right: 1em;
	text-align: right;
}
.forms li {
	z-index: 400;
	position: relative;
	bottom: 1px;
	display: inline;
	-webkit-border-top-left-radius: 0.4em;
	-webkit-border-top-right-radius: 0.4em;
	-moz-border-radius-topleft: 0.4em;
	-moz-border-radius-topright: 0.4em;
	background-color: #fdf3f1;
	padding: 0.2em 0.4em;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.forms li.disabled {
	z-index: 200;
	background-color: #eae0e0;
}
.forms div {
	position: relative;
	z-index: 300;
	padding: 0.4em;
	border-radius: 0.4em;
	background-color: #fdf3f1;
	border: 1px solid #999;
}
.forms div.disabled {
	display: none;
}

/* @end */

#chat .chatlog {
	padding: 0.4em;
	margin: 0.4em 0;
	background-color: #fdfac8;
	border-radius: 0.6em;
	-webkit-box-shadow: 1px 1px 2px #ccc;
}
/* @end */

/* @group publications */
#publication {
	position: fixed;
	bottom: 0.6em;
	right: 0.6em;
	border-radius: 0.6em;
	-webkit-box-shadow: 1px 1px 3px #999;
	text-shadow: 1px 1px 1px #fff;
	background-color: rgba(161,161,161,0.64);
}
/* @end */


